<div class="list-grid-container">
  <table class="data-table">
    <thead>
      <tr>
        <th *ngFor="let header of visibleHeaders">{{ header.label }}</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data" (click)="handleRecordClick(item)" 
          [class.clickable]="keyField">
        <td *ngFor="let header of visibleHeaders">{{ item[header.key] }}</td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="visibleHeaders.length" class="no-data">表示するデータがありません。</td>
      </tr>
    </tbody>
  </table>

  <app-paging 
    *ngIf="pagingConfig && pagingConfig.totalItems > 0"
    [totalItems]="pagingConfig.totalItems"
    [currentPage]="pagingConfig.currentPage"
    [itemsPerPage]="pagingConfig.itemsPerPage"
    [maxPageLinks]="pagingConfig.maxPageLinks"
    (pageChange)="onPageChange($event)">
  </app-paging>
</div>