.paging-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
}

.page-info {
  font-size: 0.9em;
  color: #555;
  margin-right: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.page-control {
  padding: 5px 10px;
  margin: 0 2px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
  color: #337ab7;
  border: 1px solid transparent;
  border-radius: 3px;
  
  &:hover {
    background-color: #f0f0f0;
  }

  &.current {
    background-color: #337ab7;
    color: white;
    border-color: #337ab7;
    cursor: default;
  }
}

.page-jump {
  display: flex;
  align-items: center;

  .jump-input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    text-align: center;
  }

  .jump-link {
    text-decoration: none;
    color: #337ab7;
    white-space: nowrap;
  }
}