<div class="paging-container" *ngIf="totalPages > 1">
  <div class="page-info">
    {{ totalItems }}件中、{{ currentPage }} / {{ totalPages }}ページを表示
  </div>

  <nav class="pagination">
    <button 
      class="page-control" 
      [disabled]="currentPage === 1" 
      (click)="goToPage(1)">
      {{ firstPageIcon }}
    </button>
    
    <button 
      class="page-control" 
      [disabled]="currentPage === 1" 
      (click)="goToPage(currentPage - 1)">
      {{ prevPageIcon }}
    </button>

    <ng-container *ngFor="let page of pageLinks">
      <span *ngIf="page === currentPage" class="page-link current">{{ page }}</span>
      <a *ngIf="page !== currentPage" 
        href="javascript:void(0)" 
        (click)="goToPage(page)" 
        class="page-link">
        {{ page }}
      </a>
    </ng-container>
    
    <button 
      class="page-control" 
      [disabled]="currentPage === totalPages" 
      (click)="goToPage(currentPage + 1)">
      {{ nextPageIcon }}
    </button>
    
    <button 
      class="page-control" 
      [disabled]="currentPage === totalPages" 
      (click)="goToPage(totalPages)">
      {{ lastPageIcon }}
    </button>
  </nav>

  <div class="page-jump">
    <input 
      type="number" 
      [(ngModel)]="jumpPage" 
      [max]="totalPages" 
      [min]="1" 
      class="jump-input">
    <a 
      href="javascript:void(0)" 
      (click)="jumpToPage()" 
      class="jump-link">
      ページへ
    </a>
  </div>
</div>